{
  "common": {
    "user": "s13305555",
    "frequency": "2",
    "install_dir": "/home/debian/.uazui"
  },
  "install": {
    "gcc": true,
    "binutils": true
  },
  "version": {
    "gcc": "4.9.3",
    "binutils": "2.25.1"
  }
}
