{
  "common": {
    "user": "s13305555",
    "frequency": "2",
    "install_dir": "/home/student/s13305555/.uazui"
  },
  "install": {
    "gcc": true,
    "binutils": true,
    "git": true
  },
  "version": {
    "gcc": "4.9.3",
    "binutils": "2.25.1",
    "git": "2.6.1"
  }
}
